doctype html
html(lang="en")
  head
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(charset="utf-8")
    title="league"
    meta(name="viewport" content="width=device-width, initial-scale=1")    
    if prod
      style !{critical}
      each font in fonts
        link(rel="preload" as="font" type="font/woff2" href=font)
    script.
      "use strict";(function(a){function b(e){return Promise.all(e.map(function(f){return document.fonts.load(f)}))}function c(e){b(e.fonts).then(function(){e.className&&d.classList.add(e.name),e.name&&(sessionStorage[e.name]=!0),e.next&&c(e.next)})}var d=document.documentElement;"fonts"in document&&c(a)})(!{JSON.stringify(fontStages)});
    if prod         
      each style in styles
        style(data-href=style.href) !{style.content}
    else
      link(rel="stylesheet" href=assets.client.css)
  body
    #root !{markup}
    if prod
      script(src=assets.vendor.js)
      script(src=assets.client.js)
    else
      script(src=assets.client.js crossorigin)
    each chunk in chunks
      script(src=chunk)
    script.
      window.main()