doctype html
html(lang='en')
  head
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(charset='utf-8')
    title='league'
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href=assets.client.css)
    each style in styles
      link(rel='stylesheet' href=style)
  body
    #root !{markup}
    if prod
      if assets.vendor
        script(src=assets.vendor.js)      
      script(src=assets.client.js)
    else
      script(src=assets.client.js crossorigin)
    each chunk in chunks
      script(src=chunk)
    script.
      window.main()