doctype html
html(lang='en')
  head
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(charset='utf-8')
    title='league'
    meta(name='viewport' content='width=device-width, initial-scale=1')    
    if prod
      style !{critical}
      each font in fonts
        link(rel='prelod' as='font' type='font/woff2' href=font)
      script.
        if ('fonts' in document) {
          function fetchFonts(fonts) {
            return Promise.all(fonts.map(function(font) {
              return document.fonts.load(font);
            }));
          }

          fetchFonts([
            '1em Lora Regular',
            '1em Open Sans Regular'
          ]).then(function() {
            var docEl = document.documentElement;
            docEl.classList.add('font-stage-1');
            sessionStorage.foutFontsStage1Loaded = true;

            fetchFonts([
              '700 1em Lora Bold',
              '700 1em Open Sans Regular'
            ]).then(function() {
              docEl.classList.add('font-stage-2');
              sessionStorage.foutFontsStage2Loaded = true;
            });
          });
        } 
      
      each style in styles
        link(rel='preload' as='style' onload='this.rel="stylesheet"' href=style)
        noscript
          link(rel='stylesheet' href=style)
      script.
        !{preloadCss} 
    else
      link(rel='stylesheet' href=assets.client.css)
  body
    #root !{markup}
    if prod
      script(src=assets.vendor.js)
      script(src=assets.client.js)
    else
      script(src=assets.client.js crossorigin)
    each chunk in chunks
      script(src=chunk)
    script.
      window.main()